/* Основной стиль */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
    line-height: 1.6;
}

/* Хедер */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2C3E50;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 85px;
    width: auto;
    margin-right: 10px;
}

header .logo-text {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #E67E22;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav .download-button {
    background-color: #E67E22;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav a:hover {
    color: #E67E22;
}

/* Герой */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #E67E22, #2C3E50);
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

.hero .cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #2C3E50;
    font-weight: bold;
    transition: all 0.3s ease;
}

.hero .cta-button:hover {
    background-color: #E67E22;
    color: white;
}

/* Секции */
section {
    padding: 40px 20px;
    text-align: center;
}

.features {
    padding: 40px 20px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 50px auto;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #2C3E50;
}

.feature-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    background-color: #F7F9FA;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.feature h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #E67E22;
}

.feature p {
    font-size: 16px;
    color: #2C3E50;
}


.servers ul {
    list-style: none;
    padding: 0;
}

.servers ul li {
    font-size: 18px;
    margin: 5px 0;
}

.support-email a {
    color: #E67E22;
    text-decoration: none;
    font-weight: bold;
}

.support-email a:hover {
    text-decoration: underline;
}

/* Футер */
footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
